img{
    width: 15rem;
    height: 14rem;
    border-radius: 50%;
    background-color: white;
}
main img{
    background-color: #c1ff95;
    height: 2cm;
    width: 2cm;
    border-radius: 50px;
    opacity: 3px;
}
