Header{
    background-color:#39a900;
   
    width: 25%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.nombre{
 color: white;
 font-size: 20px;
}

.todo{
    list-style: none;
    font-size: 30px;
  
}

.raya{
    height: 5px;
    background-color: white;
    width: 70%;
}
.todo li a{
    color: #c1ff95
}
.td{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.todoo{
    background-color: blue;
    position: relative;
    display: flex;
}
.iconos{
    
    display: flex;
    justify-content: space-between;
    font-size: 30px;
   background-color: #29690b;
   width: 70%;
   position: relative;
   left: 38px;
}

